In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

No Bottleneck unit testing available.

In [2]:
from timeit import default_timer as timer

In [3]:
with open('multilabel_train_data.txt') as f:
    data_list = f.readlines()

In [4]:
#data_list

In [5]:
labels=[]
features=[]

for line in data_list:
  line_list=line.split(' ')
  labels.append(set(line_list[0].split(',')))
  for j in line_list[1:-1]:
    features.append(int(j.split(':')[0]))
    
features=np.array(features)
label_set=set([])
for i in labels:
  label_set=set.union(label_set,i)
label_arr=list(label_set)
labels_arr=np.array([int(label_arr[i]) for i in range(len(label_arr))])

features_arr=np.unique(features)
print('features are:',features_arr) #feature space 
print('labels are:',labels_arr) # label space

features are: [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103]
labels are: [10  1 12  0  7  8 13  6  3 11  9  2  4  5]

In [6]:
print('y Array: array of labels:\n')
labels_arr.sort()
print(labels_arr)
print('\n X array: array of features:\n')
print(features_arr)

y Array: array of labels:

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13]

 X array: array of features:

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103]

In [7]:
print('Number of classes in dataset:',len(labels_arr),'\n')
print('Number of features in dataset:',len(features_arr),'\n')

Number of classes in dataset: 14

Number of features in dataset: 103

In [8]:
# number of data points
n=len(data_list)
print('number of data points:',n)

number of data points: 1500

In [9]:
#number of features
d=len(features_arr)
print('number of features:',d)

number of features: 103

In [10]:
array=np.array([0.0 for i in range(n*(d))]).reshape(n,d)
array.shape

(1500, 103)

In [11]:
labels=[]
for i in range(len(data_list)):
  line=data_list[i]
  line_list=line.split(' ')
  labels.append(set(line_list[0].split(',')))
  #print(i)
  for j in line_list[1:-1]:
    a=j.split(':')
    #print(a,int(a[0])-1,a[1])
    array[i,int(a[0])-1]=a[1]
len(array) #value of data points corresponding to feature space

1500

In [12]:
data=pd.DataFrame(array,columns=features_arr)
data

,1,2,3,4,5,6,7,8,9,10,...,94,95,96,97,98,99,100,101,102,103
0,-0.011858,-0.061636,0.054392,0.021137,0.089374,0.101825,-0.044525,0.222330,0.015575,-0.053591,...,-0.017531,-0.032930,-0.030487,0.009813,-0.002603,0.049288,-0.046913,-0.000844,0.004983,0.115765
1,-0.018183,-0.045645,0.002001,0.066467,-0.118108,0.105399,0.004705,0.046744,-0.060929,0.284897,...,0.033050,-0.159394,0.125488,-0.149774,-0.148373,0.135500,0.047781,0.079903,0.065097,-0.165039
2,0.074145,-0.044487,0.048191,-0.006614,0.042746,0.025960,0.021290,0.041714,0.048671,-0.038404,...,-0.099730,0.145222,-0.102574,0.143100,0.135860,-0.098214,-0.104915,-0.085630,0.174316,-0.022570
3,0.044432,-0.007842,0.018440,0.036639,0.243409,0.154859,0.128655,0.122329,0.004179,0.106768,...,-0.053067,0.011885,-0.052333,-0.056184,-0.056243,-0.049476,-0.056670,0.120910,-0.028053,0.086152
4,0.051570,-0.016571,0.014702,0.024296,0.155760,0.048347,-0.031283,0.133782,0.085081,-0.047716,...,-0.107924,-0.086031,-0.098521,-0.086622,-0.091729,0.210266,0.110243,0.140546,0.182154,-0.101904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,-0.116754,-0.017859,-0.051158,0.015938,0.015013,0.121055,-0.099059,0.023402,0.005873,0.019754,...,0.057323,-0.125292,0.177598,-0.127144,-0.126141,0.046453,-0.070558,0.138768,-0.039471,-0.016383
1496,0.085234,0.049690,0.134850,0.091247,0.239547,0.140304,0.166942,0.050181,0.126451,0.135792,...,-0.046560,0.071134,-0.041950,0.076210,0.077935,-0.040123,-0.056090,-0.052238,-0.020390,0.085778
1497,0.074028,0.014501,-0.041893,0.030209,-0.061547,0.022142,-0.022888,0.023375,0.073267,0.019675,...,-0.064247,0.158470,-0.061079,0.188122,0.182037,-0.056295,-0.075996,-0.072424,-0.039109,0.019538
1498,-0.058193,0.502205,-0.081411,-0.033651,0.001250,0.086514,-0.005469,0.033748,0.007124,-0.044017,...,-0.054680,-0.000601,-0.050850,-0.038719,0.178632,0.151786,-0.062065,-0.017584,0.498207,-0.072177
1499,-0.128468,-0.003593,0.039187,0.032379,-0.006359,-0.049659,-0.147537,-0.092815,0.050572,0.001716,...,-0.020853,-0.044238,-0.065766,-0.062276,-0.069627,-0.010034,0.086035,-0.062728,-0.048271,-0.124432

In [13]:
data['labels']=labels

In [14]:
data

,1,2,3,4,5,6,7,8,9,10,...,95,96,97,98,99,100,101,102,103,labels
0,-0.011858,-0.061636,0.054392,0.021137,0.089374,0.101825,-0.044525,0.222330,0.015575,-0.053591,...,-0.032930,-0.030487,0.009813,-0.002603,0.049288,-0.046913,-0.000844,0.004983,0.115765,"{11, 6, 7, 12}"
1,-0.018183,-0.045645,0.002001,0.066467,-0.118108,0.105399,0.004705,0.046744,-0.060929,0.284897,...,-0.159394,0.125488,-0.149774,-0.148373,0.135500,0.047781,0.079903,0.065097,-0.165039,"{11, 4, 3, 12}"
2,0.074145,-0.044487,0.048191,-0.006614,0.042746,0.025960,0.021290,0.041714,0.048671,-0.038404,...,0.145222,-0.102574,0.143100,0.135860,-0.098214,-0.104915,-0.085630,0.174316,-0.022570,"{10, 12, 7, 6, 11, 4, 5}"
3,0.044432,-0.007842,0.018440,0.036639,0.243409,0.154859,0.128655,0.122329,0.004179,0.106768,...,0.011885,-0.052333,-0.056184,-0.056243,-0.049476,-0.056670,0.120910,-0.028053,0.086152,"{10, 1, 2, 9}"
4,0.051570,-0.016571,0.014702,0.024296,0.155760,0.048347,-0.031283,0.133782,0.085081,-0.047716,...,-0.086031,-0.098521,-0.086622,-0.091729,0.210266,0.110243,0.140546,0.182154,-0.101904,"{11, 1, 2, 12}"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,-0.116754,-0.017859,-0.051158,0.015938,0.015013,0.121055,-0.099059,0.023402,0.005873,0.019754,...,-0.125292,0.177598,-0.127144,-0.126141,0.046453,-0.070558,0.138768,-0.039471,-0.016383,"{11, 1, 0, 12}"
1496,0.085234,0.049690,0.134850,0.091247,0.239547,0.140304,0.166942,0.050181,0.126451,0.135792,...,0.071134,-0.041950,0.076210,0.077935,-0.040123,-0.056090,-0.052238,-0.020390,0.085778,"{11, 4, 3, 12}"
1497,0.074028,0.014501,-0.041893,0.030209,-0.061547,0.022142,-0.022888,0.023375,0.073267,0.019675,...,0.158470,-0.061079,0.188122,0.182037,-0.056295,-0.075996,-0.072424,-0.039109,0.019538,"{11, 4, 3, 12}"
1498,-0.058193,0.502205,-0.081411,-0.033651,0.001250,0.086514,-0.005469,0.033748,0.007124,-0.044017,...,-0.000601,-0.050850,-0.038719,0.178632,0.151786,-0.062065,-0.017584,0.498207,-0.072177,"{8, 7}"
1499,-0.128468,-0.003593,0.039187,0.032379,-0.006359,-0.049659,-0.147537,-0.092815,0.050572,0.001716,...,-0.044238,-0.065766,-0.062276,-0.069627,-0.010034,0.086035,-0.062728,-0.048271,-0.124432,"{10, 11, 9, 12}"

In [15]:
labels_arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

In [16]:
# number of labels
k=len(labels_arr)
print('number of distinct classes',k)

number of distinct classes 14

In [17]:
label_matrix=np.array([0 for i in range(n*k)]).reshape((n,k))
for i in range(n):
  for l in range(len(labels_arr)):
    if str(labels_arr[l]) in data.labels[i]:
      label_matrix[i][l]=1
    else:
      label_matrix[i][l]=-1
print(label_matrix.shape)

(1500, 14)

In [18]:
len(labels)

1500

In [19]:
def lab(x,i):
  if str(i) in x:
    return 1
  else:
    return -1

In [20]:
labels_arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

In [21]:
for i in labels_arr:
  data[f'labels_{i}']=data['labels'].apply(lambda x: lab(x,i))

In [22]:
data

,1,2,3,4,5,6,7,8,9,10,...,labels_4,labels_5,labels_6,labels_7,labels_8,labels_9,labels_10,labels_11,labels_12,labels_13
0,-0.011858,-0.061636,0.054392,0.021137,0.089374,0.101825,-0.044525,0.222330,0.015575,-0.053591,...,-1,-1,1,1,-1,-1,-1,1,1,-1
1,-0.018183,-0.045645,0.002001,0.066467,-0.118108,0.105399,0.004705,0.046744,-0.060929,0.284897,...,1,-1,-1,-1,-1,-1,-1,1,1,-1
2,0.074145,-0.044487,0.048191,-0.006614,0.042746,0.025960,0.021290,0.041714,0.048671,-0.038404,...,1,1,1,1,-1,-1,1,1,1,-1
3,0.044432,-0.007842,0.018440,0.036639,0.243409,0.154859,0.128655,0.122329,0.004179,0.106768,...,-1,-1,-1,-1,-1,1,1,-1,-1,-1
4,0.051570,-0.016571,0.014702,0.024296,0.155760,0.048347,-0.031283,0.133782,0.085081,-0.047716,...,-1,-1,-1,-1,-1,-1,-1,1,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,-0.116754,-0.017859,-0.051158,0.015938,0.015013,0.121055,-0.099059,0.023402,0.005873,0.019754,...,-1,-1,-1,-1,-1,-1,-1,1,1,-1
1496,0.085234,0.049690,0.134850,0.091247,0.239547,0.140304,0.166942,0.050181,0.126451,0.135792,...,1,-1,-1,-1,-1,-1,-1,1,1,-1
1497,0.074028,0.014501,-0.041893,0.030209,-0.061547,0.022142,-0.022888,0.023375,0.073267,0.019675,...,1,-1,-1,-1,-1,-1,-1,1,1,-1
1498,-0.058193,0.502205,-0.081411,-0.033651,0.001250,0.086514,-0.005469,0.033748,0.007124,-0.044017,...,-1,-1,-1,1,1,-1,-1,-1,-1,-1
1499,-0.128468,-0.003593,0.039187,0.032379,-0.006359,-0.049659,-0.147537,-0.092815,0.050572,0.001716,...,-1,-1,-1,-1,-1,1,1,1,1,-1

$\huge \text{Adaboost function from scratch for binary classifier:}$

In [23]:
from sklearn.tree import DecisionTreeClassifier

In [24]:
def Adaboost_fit(data_X,data_y,rounds):
  weight_all=[]
  epsilon_all=[]
  alpha_all=[]
  n=len(data_X) #number of data points
  d=data_X.shape[1] #dimension of data
  #initialization of weight vector
  w=np.array([1/n for i in range(n)])
  weight_all.append(w)
  # rounds
  T=rounds 
  # we need to store classifier
  classifiers=[]
  
  for round in range(T):
    weak_classifier=DecisionTreeClassifier(max_depth=5)
    weak_classifier.fit(data_X,data_y,sample_weight=w)
    classifiers.append(weak_classifier)
    #prediction
    y_pred=weak_classifier.predict(data_X)
    
    #epsilon value
    epsilon=np.sum(w*(y_pred!=data_y))
    epsilon_all.append(epsilon)
    #alpha values
    alpha=(1/2)*np.log((1-epsilon)/epsilon)
    alpha_all.append(alpha)
    # updatation the weight vector
    w=w*np.exp(-1*alpha*y_pred*data_y)
    # normalization of weight vector
    w=w/np.sum(w)
    # storing the w
    weight_all.append(w)
   
  


    
  return alpha_all,weight_all,epsilon_all,classifiers

$\text{We use Decision tree classifier as a base classifier.}$

$\huge \text{ prediction function}$

In [25]:
def AdaBoost_pred(data_X,alpha_all,classifiers):
  T=len(alpha_all)
  n=len(data_X)
  predictions=[]
  for i in range(T):
    predictions.append(classifiers[i].predict(data_X))
  pred=np.zeros(n)  
  for i in range(T):
    pred=pred+alpha_all[i]*predictions[i]
    
  return np.sign(pred)

$\huge \text{Accuracy function for binary classifier:}$

In [26]:
def Accuracy_adaboost(prediction,actual_label):
  return np.sum(prediction==actual_label)/len(prediction)

$\text{We first apply our binary classifier first our label 0. Here we consider the label of data point is +1 is label 0 is present in its label set otherwise -1. }$

In [27]:
data_X=data[data.columns[:-15]]
data_y=data[data.columns[-14]]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_X,data_y,test_size=0.2,random_state=34)

In [28]:
alphas,weights,epsilons,classifiers=Adaboost_fit(X_train,y_train,90)

In [29]:
# prediction over train data
y_pred=AdaBoost_pred(X_train,alphas,classifiers)
accuracy=Accuracy_adaboost(y_pred,np.array(y_train))
print(accuracy)

1.0

In [30]:
# prediction over test data
y_pred=AdaBoost_pred(X_test,alphas,classifiers)
accuracy=Accuracy_adaboost(y_pred,np.array(y_test))
print(accuracy)

0.77

$\text{As we saw that our model is giving 100% accuracy over training data and 79% accuracy of test data.}$\

$\huge \text{Accuracy function (defined in Question)}$

---

In [31]:
def accuracy(y_prediction,y_actual):
  n=len(y_actual)
  sum=0
  for i in range(n):
    sum+=len(y_prediction[i].intersection(y_actual[i]))/len(y_prediction[i].union(y_actual[i]))

  return (1/n)*sum

$\huge \text{F1 score function (defined in Question)}$

In [32]:
def F1_score(y_prediction,y_actual):
  n=len(y_actual)
  sum=0
  for i in range(n):
    sum+=len(y_prediction[i].intersection(y_actual[i]))/(len(y_prediction[i])+len(y_actual[i]))
  return (1/n)*sum

In [33]:
seed_values=[24,34,44,54,65]

In [34]:
def multitask_adaboost(data,k_values):
  start_1=timer()
  f1_score_k=[]
  accuracy_k=[]
  for k in k_values:
    start_2=timer()
    print('k value is :',k,'\n***********************************\n')
    data_X=data[data.columns[:-15]]
    data_y=data[data.columns[-15:]]
    f1_list=[]
    acc_list=[]
    for seed in seed_values:
      print('when seed is :',seed,'\n***************************************\n')
      X_train, X_test, y_train, y_test = train_test_split(data_X,data_y,test_size=0.2,random_state=seed)
      pred=[set([]) for i in range(len(X_test))]
      for i in range(len(labels_arr)):
        y=y_train[f'labels_{i}']
        
        # cross validation
        alphas,weights,epsilons,classifiers=Adaboost_fit(X_train,y,k)
        # prediction over test data
        y_pred=AdaBoost_pred(X_test,alphas,classifiers)
        
        #print(np.sum(y_pred))
        for m in range(len(y_pred)):
          if y_pred[m]==1:
            
            pred[m]=pred[m].union({str(i)})
      #print(pred)
      f1_score=F1_score(pred,np.array(y_test[y_test.columns[0]]))
      acc=accuracy(pred,np.array(y_test[y_test.columns[0]]))
      print('F1 score for test data with seed value:',seed,'is:',f1_score,'accuracy is:',acc)
      # storing f1 score values
      f1_list.append(f1_score)
      acc_list.append(acc)
    end_2=timer()
    print(f'time taken for k={k} value:',end_2-start_2)
    print(f'mean f1 for k={k}:',np.mean(f1_list),'mean accuracy is:',np.mean(acc_list))
    f1_score_k.append(np.mean(f1_list))  
    accuracy_k.append(np.mean(acc_list))
  end_1=timer()
  print('total time taken:',end_1-start_1)
  return k_values[np.argmax(np.array(f1_score_k))],k_values[np.argmax(np.array(accuracy_k))],np.array(f1_score_k),np.array(accuracy_k)  # best k value

In [58]:
data.head()

,1,2,3,4,5,6,7,8,9,10,...,labels_4,labels_5,labels_6,labels_7,labels_8,labels_9,labels_10,labels_11,labels_12,labels_13
0,-0.011858,-0.061636,0.054392,0.021137,0.089374,0.101825,-0.044525,0.222330,0.015575,-0.053591,...,-1,-1,1,1,-1,-1,-1,1,1,-1
1,-0.018183,-0.045645,0.002001,0.066467,-0.118108,0.105399,0.004705,0.046744,-0.060929,0.284897,...,1,-1,-1,-1,-1,-1,-1,1,1,-1
2,0.074145,-0.044487,0.048191,-0.006614,0.042746,0.025960,0.021290,0.041714,0.048671,-0.038404,...,1,1,1,1,-1,-1,1,1,1,-1
3,0.044432,-0.007842,0.018440,0.036639,0.243409,0.154859,0.128655,0.122329,0.004179,0.106768,...,-1,-1,-1,-1,-1,1,1,-1,-1,-1
4,0.051570,-0.016571,0.014702,0.024296,0.155760,0.048347,-0.031283,0.133782,0.085081,-0.047716,...,-1,-1,-1,-1,-1,-1,-1,1,1,-1

In [61]:
k_values=[20,40,60,80,100]
best_k_f1,best_k_acc,f1_score_list,accuracy_list=multitask_adaboost(data,k_values)

k value is : 20
***********************************

when seed is : 24
***************************************

F1 score for test data with seed value: 24 is: 0.2918510563510565 accuracy is: 0.46319179894179896
when seed is : 34
***************************************

F1 score for test data with seed value: 34 is: 0.2900052355052357 accuracy is: 0.45811904761904754
when seed is : 44
***************************************

F1 score for test data with seed value: 44 is: 0.28829791504791513 accuracy is: 0.45843121693121675
when seed is : 54
***************************************

F1 score for test data with seed value: 54 is: 0.3015544363044364 accuracy is: 0.48222089947089947
when seed is : 65
***************************************

F1 score for test data with seed value: 65 is: 0.2973836903836905 accuracy is: 0.4840925925925927
time taken for k=20 value: 98.2779496551957
mean f1 for k=20: 0.2938184667184668 mean accuracy is: 0.469211111111111
k value is : 40
***********************************

when seed is : 24
***************************************

F1 score for test data with seed value: 24 is: 0.30638541088541105 accuracy is: 0.4965705868205871
when seed is : 34
***************************************

<ipython-input-45-9a797a8a955c>:26: RuntimeWarning: divide by zero encountered in scalar divide
  alpha=(1/2)*np.log((1-epsilon)/epsilon)

ValueError: Input sample_weight contains NaN.

In [ ]:
best_k,k,f1_score_cv,accuracy_cv=best_k

In [ ]:
best_k=500

In [126]:
def multitask_Adaboost_training_model(data,k=90):
  data_X=data[data.columns[:-15]]
  data_y=data[data.columns[-15:]]
  #Here we use complete data  as a training data
  alphas_labels=[] # alpha vectors corresponding each labels
  classifiers_labels=[] # classifiers corresponding each labels
  for i in range(len(labels_arr)):
    y=data_y[f'labels_{i}']

    alphas,weights,epsilons,classifiers=Adaboost_fit(data_X,y,k)
    # prediction over train data
    y_pred=AdaBoost_pred(data_X,alphas,classifiers)
    accuracy=Accuracy_adaboost(y_pred,np.array(y))
    print(f'on train data with label{i}',accuracy)
    # storing the alphas and classifiers
    alphas_labels.append(alphas)
    classifiers_labels.append(classifiers)
  return alphas_labels,classifiers_labels

In [127]:
alphas_labels,classifiers_labels=multitask_Adaboost_training_model(data)

on train data with label0 1.0
on train data with label1 1.0
on train data with label2 1.0
on train data with label3 1.0
on train data with label4 1.0
on train data with label5 1.0
on train data with label6 1.0
on train data with label7 1.0
on train data with label8 1.0
on train data with label9 1.0
on train data with label10 1.0
on train data with label11 1.0
on train data with label12 1.0
on train data with label13 1.0

In [128]:
def multitask_Adaboost_test_model(data,alphas=alphas_labels,classifiers=classifiers_labels):
  data_X=data[data.columns[:-15]]
  data_y=data[data.columns[-15:]]
  pred=[set([]) for i in range(len(data_X))]
  for i in range(len(labels_arr)):
    alphas_lab=alphas[i]
    classifiers_lab=classifiers[i]
    y_pred=AdaBoost_pred(data_X,alphas_lab,classifiers_lab)
    print('individual accuracy :',Accuracy_adaboost(y_pred,data_y[f'labels_{i}']))
    for m in range(len(y_pred)):
      if y_pred[m]==1:
        
        pred[m]=pred[m].union({str(i)})
  return pred

In [129]:
predict=multitask_Adaboost_test_model(data)
actual=np.array(data[data.columns[-15]])
print('accuracy is:',accuracy(predict,actual))
print('f1 score is:',F1_score(predict,actual))

individual accuracy : 1.0
individual accuracy : 1.0
individual accuracy : 1.0
individual accuracy : 1.0
individual accuracy : 1.0
individual accuracy : 1.0
individual accuracy : 1.0
individual accuracy : 1.0
individual accuracy : 1.0
individual accuracy : 1.0
individual accuracy : 1.0
individual accuracy : 1.0
individual accuracy : 1.0
individual accuracy : 1.0
accuracy is: 1.0
f1 score is: 0.5

In [130]:
with open('sample_multilabel_test_data.txt') as f:
    data_list = f.readlines()

In [131]:
labels=[]
features=[]

for line in data_list:
  line_list=line.split(' ')
  labels.append(set(line_list[0].split(',')))
  for j in line_list[1:-1]:
    features.append(int(j.split(':')[0]))
    
features=np.array(features)
label_set=set([])
for i in labels:
  label_set=set.union(label_set,i)
label_arr=list(label_set)
labels_arr=np.array([int(label_arr[i]) for i in range(len(label_arr))])

features_arr=np.unique(features)
print('features are:',features_arr)
print('labels are:',labels_arr)

features are: [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103]
labels are: [11  1  6 10 12 13  5  2  7  0  4  8  3  9]

In [132]:
# number of data points
n=len(data_list)
print('number of data points:',n)

number of data points: 50

In [133]:
#number of features
d=len(features_arr)
print('number of features:',d)

number of features: 103

In [134]:
array=np.array([0.0 for i in range(n*(d))]).reshape(n,d)
array.shape

(50, 103)

In [135]:
labels=[]
for i in range(len(data_list)):
  line=data_list[i]
  line_list=line.split(' ')
  labels.append(set(line_list[0].split(',')))
  #print(i)
  for j in line_list[1:-1]:
    a=j.split(':')
    #print(a,int(a[0])-1,a[1])
    array[i,int(a[0])-1]=a[1]
len(array)

50

In [136]:
labels_arr.sort()

In [137]:
df=pd.DataFrame(array,columns=features_arr)
df['labels']=labels
for i in labels_arr:
  df[f'labels_{i}']=df['labels'].apply(lambda x: lab(x,i))

In [138]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,labels_4,labels_5,labels_6,labels_7,labels_8,labels_9,labels_10,labels_11,labels_12,labels_13
0,0.097750,0.059746,0.115902,0.075859,0.097757,0.214842,0.215689,0.177362,0.178295,0.116535,...,-1,-1,-1,-1,-1,-1,-1,1,1,-1
1,0.017362,-0.004442,0.071415,0.080824,-0.158254,-0.069842,-0.165107,-0.029324,0.142120,0.042755,...,1,-1,-1,-1,-1,-1,-1,1,1,-1
2,-0.007123,-0.118310,0.134876,-0.004037,0.132463,0.126321,0.117789,-0.043311,-0.002460,-0.014554,...,1,1,-1,-1,-1,-1,-1,-1,-1,-1
3,-0.157322,-0.066659,-0.191130,-0.097811,-0.223990,-0.053608,-0.170721,-0.134466,-0.069921,0.099598,...,-1,-1,-1,-1,-1,1,1,1,1,-1
4,0.063291,0.159182,0.299849,0.116136,0.076483,-0.046788,0.076437,0.003833,0.003026,0.022628,...,-1,-1,-1,-1,-1,-1,-1,1,1,-1

In [139]:
test_data=df.copy()

In [140]:
pred_test=multitask_Adaboost_test_model(test_data)
actual=np.array(test_data[test_data.columns[-15]])
print('accuracy is:',accuracy(predict,actual))
print('f1 score is:',F1_score(predict,actual))

individual accuracy : 0.84
individual accuracy : 0.6
individual accuracy : 0.7
individual accuracy : 0.7
individual accuracy : 0.7
individual accuracy : 0.64
individual accuracy : 0.84
individual accuracy : 0.86
individual accuracy : 0.98
individual accuracy : 0.86
individual accuracy : 0.82
individual accuracy : 0.68
individual accuracy : 0.64
individual accuracy : 0.98
accuracy is: 0.32639682539682546
f1 score is: 0.22597868797868795

In [141]:
d={'pred':pred_test,'actual':actual}

In [1]:
import pickle

In [142]:
with open('my_data.pkl', 'wb') as f:
    pickle.dump(d, f)

In [144]:
with open('my_data.pkl', 'rb') as f:
    my_function = pickle.load(f)

In [147]:
#my_function['pred']

In [148]:
with open('data.pkl', 'wb') as f:
    pickle.dump(multitask_Adaboost_training_model, f)

In [149]:
with open('data.pkl', 'rb') as f:
    my_function = pickle.load(f)

In [150]:
 my_function

In [ ]:
d=